@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");
.purple_button {
  text-decoration: none;
  display: inline-block;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 20px;
  border: none;
  padding: 15px;
  color: white;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.082);
  transition: all ease 0.5s;
  cursor: pointer;
}
.purple_button:hover {
  filter: brightness(120%);
}
.purple_button:active {
  filter: brightness(180%);
  transform: translateY(5px);
}

.menu_heart_1 {
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 20px;
  color: black;
}

.menu_heart_2 {
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 20px;
  opacity: 0;
  color: linear-gradient(to bottom right, #FF79DA, #9356DC);
}
.menu_heart_2:hover {
  opacity: 1;
  color: #9356DC;
  transition: all ease 0.5s;
}

body {
  font-family: Roboto;
}

header, main {
  max-width: 1440px;
  margin: auto;
}

header img {
  display: flex;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
}

footer {
  background-color: #353535;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer article {
  max-width: 1440px;
  margin: auto;
}
footer article img {
  -webkit-filter: invert(100%);
  width: 100px;
  margin-left: 20px;
}
footer article ul {
  padding: 0px;
  margin: 0px;
  margin-left: 20px;
  list-style-type: none;
}
footer article ul li {
  padding-top: 10px;
}
footer article ul li a {
  text-decoration: none;
  color: #e2e2e2;
}
footer article ul li a .footer_logo_1 {
  margin-right: 10px;
  font-size: 12px;
}
footer article ul li a .footer_logo_2 {
  margin-right: 10px;
  font-size: 9px;
}

.back {
  position: absolute;
  font-size: 25px;
  color: black;
  top: 25px;
  left: 15px;
}

.menu_img {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

section {
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #f8f8f8;
  margin-top: -60px;
  padding-top: 10px;
}
section .menu_title {
  position: relative;
  background-color: #f8f8f8;
}
section .menu_title h1 {
  font-family: "Shrikhand", cursive;
}
section article {
  margin: 15px;
  margin-top: 40px;
}
section article h2 {
  font-weight: 100;
  width: 50px;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
}
section article .dish {
  position: relative;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  margin-top: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.082);
  cursor: pointer;
}
section article .dish--1 {
  animation: appear 0.3s ease-out;
}
section article .dish--2 {
  animation: appear 0.6s ease-out;
}
section article .dish--3 {
  animation: appear 0.9s ease-out;
}
section article .dish--4 {
  animation: appear 1.2s ease-out;
}
section article .dish h3 {
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
section article .dish p {
  display: block;
  margin: 0px;
  margin-top: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
section article .dish .price {
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-weight: 700;
}
section article .dish span {
  display: inline-block;
  opacity: 0;
  position: absolute;
  background-color: #99E2D0;
  top: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  right: -10px;
  height: 100%;
}
section article .dish span .fa-circle-check {
  color: white;
  font-size: 25px;
  margin-top: 20px;
}
section article .dish:hover h3 {
  margin-right: 120px;
  transition: all ease 0.5s;
}
section article .dish:hover p {
  margin-right: 160px;
  transition: all ease 0.5s;
}
section article .dish:hover .price {
  right: 135px;
  transition: all ease 0.5s;
}
section article .dish:hover span {
  display: inline;
  opacity: 1;
  right: 0px;
  transition: all ease 0.5s;
  padding-left: 40px;
  padding-right: 40px;
}
section article .dish:hover span .fa-circle-check {
  transform-origin: center;
  transform: rotate(720deg);
  transition: all ease 0.5s;
}
section .center {
  margin-top: 40px;
  padding-bottom: 60px;
  text-align: center;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*# sourceMappingURL=style_.css.map */
